@model IEnumerable<EquipmentIndexModel>

@{
    ViewData["Title"] = "Home Page";
    var equipment = Model.ToList();
}

@if (!equipment.Any())
{
    <div class="mt-4 p-5 bg-light text-center">
        <h1 class="display-4">Welcome to the best place for renting equipment!</h1>
        <p class="lead">
            There are no equipments in the system currently available.
            Why don't you add one?
        </p>
        <hr class="my-4">
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <a asp-controller="Equipment" asp-action="Add" class="btn btn-primary btn-lg">Add Equipment</a>
        }
    </div>
}

<div class="mb-6"></div>

@if (equipment.Any())
{
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
        <div class="carousel-inner">
            @for (int i = 0; i < equipment.Count(); i++)
            {
                var currentEquipment = equipment[i];
                <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                    <img class="d-block w-100" style="height:500px"
                 src="@currentEquipment.Imageurl" alt="@currentEquipment.Title">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            <a class="btn btn-primary" asp-controller="Equipment" asp-action="Details" asp-route-id="@currentEquipment.Id">
                                @currentEquipment.Title
                            </a>
                        </h5>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}
