@model EquipmentServiceModel
@inject IAgentService agentservice
@inject IEquipmentService equipmentservice

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Equipment Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>
                Price Per Month:
                <b>@String.Format("{0:f2}", Model.PricePerMonth) BGN</b>
            </h6>
            <h6>(@(Model.IsRented ? "Rented" : "Not Rented"))</h6>
            <br />
            <a asp-controller="Equipment" asp-action="Details" asp-route-id="@Model.Id"
               asp-route-information="@Model.GetInformation()" class="btn btn-dark mb-2">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="d-flex justify-content-center mb-2">
                    @if (await equipmentservice.HasAgentWithIdAsync(Model.Id, User.Id()) || User.IsAdmin())
                    {
                        <a asp-controller="Equipment" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark me-2">Edit</a>
                        <a asp-controller="Equipment" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-dark">Delete</a>
                    }
                </div>

                <p></p>

                @if (!Model.IsRented && !await agentservice.ExistByIdAsync(User.Id()))
                {
                    <form class="input-group-sm d-inline" asp-controller="Equipment" asp-action="Rent" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-dark me-2" type="submit" value="Rent" />
                    </form>
                }

                else if (await equipmentservice.IsRentedByUserWithIdAsync(Model.Id, User.Id()))
                {
                    <form class="input-group-sm d-inline me-2" asp-controller="Review" asp-action="Add" asp-route-id="@Model.Id" method="get">
                        <input class="btn btn-dark" type="submit" value="Add Review" />
                    </form>

                    <form class="d-inline" asp-controller="Equipment" asp-action="Leave" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-dark" type="submit" value="Leave" />
                    </form>
                }

                if (!await agentservice.ExistByIdAsync(User.Id()) && !await equipmentservice.IsRentedByUserWithIdAsync(Model.Id, User.Id()))
                {
                    <form class="input-group-sm d-inline" asp-controller="Review" asp-action="All" asp-route-id="@Model.Id" method="get">
                        <button type="submit" class="btn btn-dark mb-2">View All Reviews</button>
                    </form>
                }
            }
        </div>
    </div>
</div>
